@use "@angular/material" as mat;

@include mat.core();

$light-theme: mat.define-light-theme(
    (
        color: (
            primary: mat.define-palette(mat.$blue-palette, 900),
            accent: mat.define-palette(mat.$blue-palette, 200),
        ),
        typography: mat.define-typography-config(),
        density: 0,
    )
);

$dark-theme: mat.define-dark-theme(
    (
        color: (
            primary: mat.define-palette(mat.$blue-palette, 900),
            accent: mat.define-palette(mat.$blue-palette, 200),
        ),
        typography: mat.define-typography-config(),
        density: 0,
    )
);

@include mat.all-component-themes($light-theme);

.dark-mode {
    @include mat.all-component-colors($dark-theme);

    background-color: mat.get-color-from-palette(mat.$grey-palette, 900);
    color: mat.get-color-from-palette(mat.$grey-palette, 50);

    *,
    &::before,
    &::after {
        background-color: inherit;
        color: inherit;
    }
}
