<div class="grid justify-content-center mt-8">
    <mat-card class="example-card border-1 col-6">
        <mat-card-header class="grid">
            <div class="col-12">
                <mat-card-title class="text-center">BIENVENIDO AL SISTEMA DE GESTION DE ALUMNOS
                    DE LA ESCUELA JUDICIAL DEL CONSEJO DE LA MAGISTRATURA</mat-card-title>
                <mat-card-subtitle class="text-center">Por favor, primero debe Loguearse o Registrarse: </mat-card-subtitle>
            </div>
        </mat-card-header>

        <mat-card-actions class="card">
            <div class="flex justify-content-center card-container col-12 blue-container gap-3">
                <button mat-flat-button color="primary" (click)="login()">LOGIN</button>
                <button mat-flat-button color="accent" (click)="register()">REGISTRARSE</button>
            </div>
        </mat-card-actions>
    </mat-card>
</div>
