<mat-toolbar color="primary">
    <span>Escuela Judicial</span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
        (click)="onToggleSidenav()">
        <mat-icon>menu</mat-icon>
    </button>

    <span class="example-spacer"></span>

    {{ timeNow$ | async }}

    <button 
        mat-raised-button 
        color="accent" 
        class="m-2" 
        (click)= "openEventFormDialog()"
    >
        Crear Evento
        <mat-icon>event</mat-icon>
    </button>

    <span class="example-spacer"></span>

    <span class="mx-1">Modo oscuro</span>
    <app-dark-mode-switch></app-dark-mode-switch>
</mat-toolbar>